*{

    margin:0;
    padding:0;
    box-sizing:border-box;
}

nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: black;
    padding: 15px 40px;
}

ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    color:red;
}

nav li:last-child a {
    background-color: red;
    padding: 6px 12px;
    border-radius: 5px;
}

nav li:last-child a:hover{
    background-color: #cc0000;
    color: black;
}

nav a.active{
    color: red;
    font-weight: bold;
    border: 2px solid red;
}


.hero{
    height: 400px;
    background: url("../images/media/herobanner\ 2.png") no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero button{
    margin-top: 15px;
    padding: 10px 20px;
    background: red;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: crosshair;
}

.video{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 40px;
}
.video-box{
    flex: 1;
}

.video-text{
    flex: 1;
}

.video-box video{
    width: 100%;
    border-radius: 10px;
}

.video-text h2{
        font-size: 32px;
        color: #444;
}
.video-text{
    padding: 40px;
    gap: 40px;
}

.About{
    text-align: center;
    padding: 60px 20px;
    background: #f9f9f9;
}

.About h2{
    font-size: 32px;
    margin-bottom: 20px;
    color: rgba(255, 0, 0, 0.615)
}

.About p{
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    color: #555555;
    line-height: 1.6;
}

.card{
    display: flex;
    justify-content: center;

}

.header{
    position: sticky;
    top: 0;
    z-index: 1000;
}

table{
    width: 70%;
    border-collapse: collapse;
    background: #ffff;
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
}
thead{
    background: #f00202;
    color: white;
}

th,td {
    padding: 15px;
    text-align: center;
}

tbody tr{
    border-bottom: 1px solid #ddd;
}

.item{
    display: flex;
    align-items: center;
    gap: 15px;
}

.item img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 10px;
}

.remove{
    background: rgb(255, 78, 78);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.remove:hover{
    background: rgb(131, 0, 0);
}

.grand-total td{
    font-weight: bold;
    font-size: 18px;
}

.grand-total button{
    margin-top: 15px ;
    padding: 10px 20px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.qty-box button{
     background: rgb(255, 105, 105);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;

}

.qty-box button:hover{
    background: rgb(131, 0, 0);
}
.qty-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.qty-box span{
    font-size: 10px;
    font-weight: bold;
    min-width: 20px;
    text-align:center;
}